.country-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.country-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
}

.country-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.country-flag {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}

.country-name {
    font-weight: bold;
}

.pagination {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-link:hover {
    background-color: #ddd; 
}

.page-link.active {
    background-color: #007bff; 
    color: #fff;
}



/* For laptops Screen */
@media screen and (max-width: 1200px) {
    .country-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For tablets Screen */
@media screen and (max-width: 900px) {
    .country-container {
        padding: 10px; 
    }

    .search-bar {
        margin-right: 10px;
    }
    
    .pagination {
        margin-bottom: 20px; 
    }
}

/* For mobile devices Screen */
@media screen and (max-width: 600px) {
    .country-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-bar {
        margin-bottom: 10px;
    }

    .page-item {
        margin-bottom: 5px; 
    }
}
